.home_container {
  position: absolute;
  width: 320px;
  z-index: 1000;
}

@media only screen and (max-width: 640px) {
  .home_container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
