/* result.css */

.result-containerr {
  max-width: 360px;
  min-width: 360px;
  align-content: center;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
/* .Whole_Container{
  width: 55vb;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-left: 10px;
  max-height: 300px;
  /* overflow-y: scroll; */
  /* background-color: whitesmoke; */
/* }  */

@media only screen and (max-width: 640px) {
  .result-containerr {
    width: 100vb;
    max-width:90%;
    /* transform: scale(1.05); */
  }
 
  .Whole_Container{
    background-color: rgba(245, 245, 245, 0.47);
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 150px;
    overflow-x: scroll;
    position: fixed;
    bottom: 0;
  }
  
 
}

.result-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  overflow: hidden;
  padding: 10px 30px;
  transition: transform 0.3s ease-in-out;
}

.result-card:hover {
  transform: scale(1.05);
}

.result-card img {
  width: 100%;
  height: 200px; /* Set a fixed height for the images */
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  border-radius: 2px; /* Round the top corners */
}

.result-details {
  padding: 16px;
}

.result-details h4 {
  margin: 0;
  color: #333;
}

.result-details p {
  margin: 8px 0;
  color: #666;
}

.button-container1{
  background-color: teal;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.button-container2{
  color: gray;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
}
